<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result1 = connection.exec("select weight, give_for from crops where give_for != '自家消費'") %>
    <% data1 = [] %>
    <% result1.each do |record| %>
      <% data1 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
        ボタンを押すと自家消費以外のゴーヤの情報が表示されます<br><br>
      <input type="text"  name="input1" value="<%= data1.join(' ') %>"><br>
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select weight, give_for from crops where quality = 'false';") %>
    <% data2 = [] %>
    <% result.each do |record| %>
      <%  data2 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       ボタンを押すと、品質が悪いゴーヤの情報が表示されます<br><br>
      <input type="text" name="input1" value="<%= data2.join(' ') %>"><br>
      <input type="submit" name="送信" >
    </form>
  </body>
</html>